---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Footer from '../sections/Footer.astro';
import Info from '../sections/Info.astro';
import Social from '../sections/Social.astro';
---

<Layout title="Argos Tales">
	<Hero />
	<main>
		<Info/>
		<Social/>
	</main>
	<Footer />
</Layout>

