---
import Github from "../icons/github.astro"
---

<footer>
   <span>
      &copy; {new Date().getFullYear()} Argos Tales
   </span>
   
   <span>
      Desarrollado con ❤️ por David Malpica 
      <a href="https://github.com/david-malpica" target="_blank"><Github/></a>
   </span>
</footer>