---
import HeroAvatar from '../components/HeroAvatar.astro'
---

<section>
   <h2>"Sobrevive al invierno eterno"</h2>
   <HeroAvatar/>
   <p>Bienvenido a Argos Tales, un espacio donde el comic y el manga toman parte de la cultura mexicana y otras culturas, para lograr una fusion de estilos extraordinarios.</p>
</section>