---
import { Image } from "astro:assets";
import infoAvatar from "../assets/InfoAvatar.jpg"
---

<section>
   <h2>Acerca de mi</h2>
   <p>Mi nombre es Cesar David, soy un mexicano amante de la historia antigua, ilustrador y dibujante de comic, en formato tradicional y digital. Actualmente me encuentro realizando mi comic "The Crimson Age"; asi como tambien en otras ilustraciones de distinta indole.</p>
   <Image/ src={infoAvatar} alt="Cesar David" loading="lazy" >
</section>