---
import Facebook from "../icons/facebook.astro";
import Instagram from "../icons/instagram.astro";
import Webtoon from "../icons/webtoon.astro";
---

<section>
   <h3>Contactame</h3>
   <p>Quieres ver mas de mis trabajos?, contactame a traves de mis redes sociales, tambien hago comisiones en digital o tradicional.</p>
   <div>
      <a href="https://www.facebook.com/ArgosTalesTCA" target="_blank"><Facebook/></a>
      <a href="https://www.instagram.com/argos_tales/" target="_blank"><Instagram/></a>
      <a href="https://www.webtoons.com/es/creator/6a472" target="_blank"><Webtoon/></a>
   </div>
</section>